//== Colors
//
//## Gray and brand colors for use across The Project Template.
//** Additional Colors of Dark Red Skin.
$base-color-opacity-50: rgba($base-color, 0.5);
$base-color-opacity-60: rgba($base-color, 0.6);
$base-color-opacity-70: rgba($base-color, 0.7);
$base-color-opacity-80: rgba($base-color, 0.8);

//** Dark Header Top and Header
$dark-header-opacity-95:        rgba($dark-header, 0.95);
$dark-header-opacity-90:        rgba($dark-header, 0.9);
$dark-header-opacity-80:        rgba($dark-header, 0.8);
$dark-header-opacity-60:        rgba($dark-header, 0.6);
$dark-header-top-opacity-60:    rgba($dark-header-top-border, 0.5);

/* 1- Typography
-------------------------------------------------
-------------------------------------------------*/
a[href^="tel:"] {
	color: $white;
    text-decoration: none;
}

.dark .footer-content p a,
.dark .subfooter-inner p a {
	color: lighten($base-color, 15%);
}

/* 2- Layout
-------------------------------------------------
-------------------------------------------------*/
.default-bg-50 {
	background-color:$base-color-opacity-50;
	color: $white;
}
/*Transparent Header*/
.transparent-header  header.header.dark.transparent-header-on {
	background-color: $dark-header-opacity-80;
	border-top-color: $dark-header-top-opacity-60;
}
/*Fixed Navigation*/
.fixed-header-on .dark.header.fixed {
	background-color: $dark-header-opacity-95;
}

/*Translucent Backgrounds*/
.default-translucent-bg:after {
	background-color: $base-color-opacity-70;
}
.default-translucent-bg.hovered:hover:after {
	background-color: $base-color-opacity-80;
}

/* 5 Components
-------------------------------------------------
-------------------------------------------------*/
/* Forms
---------------------------------- */
.dark.header,
.dark.header-top {
	.form-control { 
		border-color: $dark-header-top;
	}
}
/*Breadcrumb
---------------------------------- */
.banner .dark.breadcrumb-container {
	background-color: $dark-header-opacity-60;
}

/* 6 Navigations
-------------------------------------------------
-------------------------------------------------*/
/* 6.2 Dark Version
------------------------------ */
/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) { 
	.transparent-header .dark .main-navigation .navbar.navbar-default {
		background-color: $dark-header-opacity-90;
		border-color: $dark-header-top-opacity-60;
	}	
}

/* 7 Blocks/Widgets
-------------------------------------------------
-------------------------------------------------*/
/* Social icons block
------------------------------ */
.default.social-links li {
	a {
		background-color: $base-color;
		border: 1px solid $base-color-hover;
		color: $white;
	}
	a:hover {
		background-color: $white;
		color: $gray;
	}	
}

/* Full Width Content
---------------------------------- */
/* Medium devices (tablets, phones) */
@media (max-width: 1199px) { 
	.full-width-section:not(.no-image) .full-text-container.default-bg {
		background-color: $base-color-opacity-60;
	}
}

/* 8 Main Slideshow
-------------------------------------------------
-------------------------------------------------*/
.tp-bannertimer {
	background-color: $base-color-opacity-80;
}

/* 10 Full Page
-------------------------------------------------
-------------------------------------------------*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: $base-color-opacity-80;
}